*{
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:115%;
  color: rgb(2, 2, 2);
  margin:0;
  padding:0;
}

body{
  width:100%;
  overflow-x: hidden;  
}
